# Ignore virtual environments
venv/
.venv/
env/
ENV/

# Ignore Django static and media folders
staticfiles/
media/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variables and secrets
.env
.env.*

# Ignore logs
*.log

# Ignore IDE/editor files
.vscode/
.idea/
.DS_Store

# Ignore Passenger logs (GoDaddy)
passenger.log

# Ignore SQLite databases
*.sqlite3
