.blog-detail-container {
  padding: 3rem;
  max-width: 75%;
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-block {
  background: #ffffff;
  border-radius: 10px;
  margin-top: 5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  max-width: 1800px;
  width: 100%;
}

.blog-meta {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.blog-subheading {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: #2c3e50;
  text-transform: none;
}

.blog-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 6;
}   

.blog-content {
  padding: 1.5rem;
}

.blog-content h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.blog-content p {
  font-size: 1.1rem;
  text-align: left;
  color: #333;
}

.blog-tags {
  margin-top: 1rem;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.blog-tags li {
  background: #eee;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  font-size: 0.85rem;
  color: #333;
}

.animated-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

.shape {
  position: absolute;
  border-radius: 50%;
  opacity: 0.15;
  background-color: #8b150b66; /* Customize color */
  animation: floatShape 6s infinite ease-in-out alternate;
}

.shape1 {
  width: 1500px;
  height: 1500px;
  top: 250px;
  left: -500px;
  animation-delay: 0s;
}

.shape2 {
  width: 500px;
  height: 500px;
  bottom: 900px;
  right: 40px;
  animation-delay: 1.5s;
  background-color: #3c2ac886;
}

.shape3 {
  width: 1500px;
  height: 2000px;
  top: 50%;
  left: 70%;
  animation-delay: 3s;
  background-color: #290a8ea7;
}

@keyframes floatShape {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(-200px) scale(1.1);
  }
}
