.full-services {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
  font-family: "Segoe UI", sans-serif;
  color: #333;
  line-height: 1.6;
}

.full-services h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #1a1a1a;
  margin-bottom: 50px;
}

.service-block {
  background: #d1d1d1;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  margin-bottom: 40px;
  transition: transform 0.3s ease;
}

.service-block:hover {
  transform: translateY(-5px);
  box-shadow: 2px 20px 50px black;
}

.service-block h2 {
  color: #e91e63;
  margin-bottom: 10px;
}

.service-block ul {
  padding-left: 20px;
  margin-top: 10px;
}

.service-block ul li {
  list-style: disc;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1.3rem;
}

.service-block p {
  /* font-weight: bold; */
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.why li {
  list-style: none;     
}